* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}

/* ----------------------------------------------navbar--------------------------- */
nav {
    background-color: #1E33A7;
    color: white;
    display: flex;
    padding: 10px;
    height: 30px;

}

.navbar_left {
    width: 50%;
}

.navbar_right {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 50%;
}

.container {
    display: flex;
    height: 100vh;

}

.navbar {
    background-color: #1D9AB0;
    display: flex;
    flex-direction: column;
    width: 10%;
}

.navbar div{
    background-color: #1D9AB0;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 20px;
    width: 90%;
    height: 30px;
}

.navbar div button{
    background-color: #1D9AB0;
    display: flex;
    align-items: center;
    border: none;
    width: 100%;
    font-size: 10px;
    padding-left: 10px
}


.navbar div button a {
    margin-left: 5px;
    text-decoration: none;
}

a {
    color: black;
}

.navbar div button:hover {
    background-color: #1E33A7;
    color: white;
    font-size: 15px;

    a {
        color: white;
    }
}

.navbar .order_button button{
    background-color: #1E33A7;
    color: white;
}

.order_button a {
    font-size: 15px;
    color: white;
}

main {
    width: 90%;
}

/* ----------sub-main----------- */
#sub-main {
    display: grid;
    grid-template-columns: 30% 70%;

}

.checkout {
    background-color: rgb(230, 230, 230);
    height: 100vh;

}

.checkout h2 {
    background-color: rgb(44, 107, 224);
    width: 50%;
    height: 5vh;
    margin-left: 27%;
    margin-top: 7%;
    text-align: center;
    margin-bottom: 8%;
}
.checkout .name-check {
    background-color: rgb(180, 174, 174);
    display: grid;
    grid-template-columns: 1% 1% 1%;
    gap: 20vh;
    height: 5vh;
    padding: 3% 0 0 8% ;
}

/* ------Total------- */
.total {
    background-color:  rgb(180, 174, 174);
    margin-top: 90%;
    height: 5vh;
    padding-left: 10%;
    padding-top: 4%;
}

/* ------Pay------ */
.pay button {
    background-color: rgb(22, 179, 241) ;
    width: 30%;
    border-radius: 40px;
    margin-top: 6%;
    margin-left: 35%;

}
/* ----------------button search-------------- */
.search {
    margin-top: 3%;
    margin-left: 50%; 
}
.search  input[type=text] {
    /* margin-top: 5%; */
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
    border-radius: 30px;
}
.search input[type=submit] {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;

}

button {
    border: none;
    background-color: white;
    font-size: 24px;
    margin: 1% ;
}


/* ------------------------------------------------ */