* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: auto;
}

/* ----------------------------------------------navbar--------------------------- */
nav {
    background-color: #1E33A7;
    color: white;
    display: flex;
    padding: 10px;
    height: 30px;

}

.navbar_left {
    display: flex;
    align-items: center;
    width: 50%;
}

.navbar_right {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 50%;
}

.container {
    display: flex;
    height: auto;

}

.navbar {
    background-color: #1D9AB0;
    display: flex;
    flex-direction: column;
    width: 10%;
}

.navbar div {
    background-color: #1D9AB0;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 20px;
    width: 90%;
    height: 30px;
}

.navbar div button {
    background-color: #1D9AB0;
    display: flex;
    align-items: center;
    border: none;
    width: 100%;
    font-size: 10px;
    padding-left: 10px
}


.navbar div button a {
    margin-left: 5px;
    text-decoration: none;
}

a {
    color: black;
}

.navbar div button:hover {
    background-color: #1E33A7;
    color: white;
    font-size: 15px;

    a {
        color: white;
    }
}

.navbar .order_button button {
    background-color: #1E33A7;
    color: white;
}

.order_button a {
    font-size: 15px;
    color: white;
}

main {
    display: flex;
    background-color:  #1638f72d;
    width: 90%;
    height: 1500px;
}

main .cardorders {
    background: #00000038;
    padding: 10px 10px 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    border: 1px solid #1638f7;
    width: 25%;
    height: 550px;
}

main .cardorders #h {
    background-color: #1638f721;
    width: 100%;
    height: 100%;
}

main .cardorders .cardorder {
    background: #c921cf3d;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    border: 1px solid #cf09e9;
    border-radius: 5px;
    width: 93%;
    height: 30px;
    font-size: 20px;
    margin: 10px;
}

main .cardorders .cardorder #nameorder {
    font-weight: bold;
    color: rgb(255, 102, 0);
}

main .cardorders .cardorder #orderqtl {
    color: rgb(255, 72, 0);
}

main .cardorders .result {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .cardorders .result .sumit button {
    padding: 5px;
    border-radius: 5px;
    color: white;
}

main .cardorders .result .sumit #cancelorder {
    border: none;
    background-color: rgb(194, 4, 4);
}

main .cardorders .result .sumit #cancelorder:hover {
    border: none;
    background-color: red;
}

main .cardorders .result .sumit #order {
    border: none;
    width: 50px;
    background-color: #1E33A7;
}

main .cardorders .result .sumit #order:hover {
    background-color: #1638f7;
}

main .cardorders .result .ortotal {
    display: flex;
    align-items: center;
}

main .cardorders .result .ortotal span {
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #1638f7;
}

main .products {
    /* background-color: #1638f72d; */
    width: 75%;
}

main .products .ordertitle {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 5%;
}
main .products .ordertitle .ordersearch{
    display: flex;
    align-items: center;
    border: 1px solid #060f94;
    background: white;

}
main .products .ordertitle .ordersearch input{
    text-align: center;
    height: 20px;
    border: none;
    outline: none;

}
main .products .ordertitle .ordersearch input:focus::placeholder {
    color: transparent;
}


main .products .contents h2{
   background: #0d1acc3a;
    color: rgb(7, 5, 109);
}

main .products .contents div .content {
    display: flex;
    flex-wrap: wrap;
    gap: 38px;
    padding: 20px;
}

main .products .contents div .content .card {
    background-color: #8e9efa9f;
    border-radius: 10px;
    padding: 5px;
    width: 100px;
}
/* main .products .contents div .content .card:hover {
    border-style: groove;
    
} */

main .products .contents div .content .card .cardtitle{
    padding: 5px;
}
main .products .contents h2{
    text-align: center;
}
main .products .contents div .content .card .cardtitle div {
    display: flex;
    align-items: center;
}
main .products .contents div .content .card .cardtitle div span{
    color: #060f94;
    font-weight: bold;
    padding-left: 5px;
}

main .products .contents div .content .card .cardimg {
    background-color: rgba(134, 235, 204, 0.5);
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

#buttonBuyToOrder{
    margin-left: 5px;
    background: rgb(216, 90, 44);
    color: white;
    padding: 1.5px;
    border: none;
    border-radius: 3px;
}

#buttonBuyToOrder:hover{
    background: rgb(250, 80, 18);
}

/* card */
/* ------------------------------------------------ */